/* Stilar för alla id */
#sidfot{
  background-color: #fff;
  border-top: 6px solid #dbdbdb;
  padding: 1rem;
}
#sidcontainer, #container-top-men{
  margin: 0;
}
#mainsearch{
  position: relative;
  padding: 5px 10px;
  z-index: 999;
  background: #a54399;
}
#sidhuvud {
  background-color: #fff;
}
#funktionsmeny {
  background-color: white;
  padding: 1em 1% 0 1%;
  text-align: right;
}
#tpb_logotyp{
  float: right;
  margin: 2rem 3rem 1rem;
}
 

/* multi id stiler */
#sidhuvud #logotyp{
  float: left;
  margin-left: 2%;
  margin-top: 1.5em;
}
#sidhuvud #container-top-menu {
  position: relative;
  display: block;
  clear: both;
  background-color: #fff;
  height: 55px;
  margin-bottom: 10px
}
#mainsearch #query {
  display: inline-block;
  padding: 0 9px;
  font-size: 1.5em;
  border-radius: 5px;
  width: 743px;
  height: 24px;
  margin-right: 5px;
}
#mainsearch #only-daisy-option {
  display: inline-block;
}
#mainsearch #only-daisy-option input {
  height: 25px;
  vertical-align: bottom;
}
#mainsearch #only-daisy-option label {
  line-height: 30px;
  white-space: pre;
  margin-top: 2px;
}
#mainsearch #snabbsokknapp {
  display: inline-block;
  font-size: 1.4em;
  width: 70px;
  height: 37px;
  margin-right: 0;
}



/* stiler för element */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 68.5%/1.4 Verdana,Geneva,Arial,Lucida,Helvetica,sans-serif;
  color: #333;
  background: #fff
}
li{
  margin: 0;
  padding: 0;
}
ul, ol {
  margin: 0 0 1em 2%;
  padding: 0;
  list-style-position: inside;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #b52f5e;
  background-color: transparent;
}
form {
  margin: 0%;
  padding: 0;
}
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
label {
  display: block;
  font-weight: bold;
}
input[type="checkbox"]+label {
  display: inline;
  margin-left: 0.5em;
}

 /* stilar som är på flera element */
input[type="submit"], button {
  -webkit-appearance: square-button;
  cursor: pointer;
  white-space: normal;
}

/* id som förändrar element */
#funktionsmeny ul li {
  display: inline-block;
}
#funktionsmeny .login-status a {
  padding: 6px 15px;
  text-decoration: none;
  background-color: #a54399;
  color: white;
}
#funktionsmeny .login{
  font-size: 1.2em;
  font-weight: 900;
}
#tpb_logotyp a {
  display: inline-block;
}
#mainsearch label {
  display: none;
}

#sidhuvud ol {
  list-style: none;
}
#mainsearch label[for=only-daisy] {
  display: inline-block;
  color: #fff;
  margin-left: 2px;
}


/* multi stiler */


/* stilar för claser */

 /*  clerflec och dens olika delar */ 
.clearfix{

}
.clearfix:after {
  clear: both;
}
.clearfix:before, .clearfix:after{
  display: table;
  content: "";
}

.CS_clearfix{

}
.CS_clearfix:after{
  visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    content: " ";
    clear: both;
}

 /* CS clasernas stiler */
.CS_button{

}
.CS_startBox{

}
.CS_tallStartBox{

}
.CS_quickLink{

}
.CS_quickLinkNarrow{

}
.CS_list-container{

}
.CS_work{

}
.CS_alternative-layout-False{

}
.CS_list{

}
.CS_list-item{

}
.CS_highlight-True{

}


.tips.CS_list-container{
  margin: 2em 0;
}



 /* multi claser */
.startpage .design-two_columns .part {
  margin: 0 !important;
}

.design-two_columns .zone_one{
  margin-right: 2%;
}
.design-two_columns>.zone_one{
  float: left;
  width: 49%;
}

.startpage .design-two_columns {
  margin: 0 -70px !important;
}
fieldset>div{
  margin-bottom: 0.5rem;
}




 /* id som förendrar claser */
#snabbsokknapp.CS_button {
  background-color: #e7e7e7;
  color: black;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.2em 0.4em;
  font-weight: bold;
}


 /* multi stilar (med id, clasar och ellement) */

 #sidhuvud #container-top-menu ol li a.expander-icon, #sidhuvud #container-top-menu ol li span.expander-icon {
  display: none;
 }

 #sidhuvud #container-top-menu ol li a, #sidhuvud #container-top-menu ol li span {
  display: block;
  float: left;
  padding: 0.6rem 1%;
  font-family: "variableblack",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 1.4em;
  color: black;
 }

 #sidhuvud #container-top-menu ol li.last span, #sidhuvud #container-top-menu ol li.last a {
   float: right;
 }
 input[type="submit"], a.btn {
  padding: 6px 15px;
  text-decoration: none;
  background-color: #a54399;
  color: white;
  border: none;
  border-radius: 5px;
}

 /**/


 /* inte sorterade claser */
.container {
  width: 80%;
  margin: 0 auto;
}
div.men-top {
  background-color: yellow;
  padding: 20px;
}



.page-container{
  width: 995px;
  margin: 0 auto 30px;
  position: relative;
}
.search-links{
  float: right;
  color: #333;

}
.s-text{
  color: #fff;
}
.ReadSpeakerLink{
  padding: 3px 10px 0px 25px;
  background: url(../images/readspeak_icon.gif) no-repeat;
  white-space: nowrap;
}
.part{
  margin-bottom: 1em;
}
.tabs{
  list-style: none;
  margin: 0;
}
.open{
  background-color: #fff;
  bottom: 0;
}
.design-two_columns{
  clear: both;
}
.search-area{
  position: relative;
}

/* inte sorterade toma claser */
.startpage{

}
.login-status{

}
.btn{

}
.login{

}
.last{

}
.expander-icon{

}
.interaction-element-group{

}

.rs_skip{

}
.menu-text{

}
.container-top-menu{

}
.puff-content{

}
.huvudpuff{

}
.startpufftext{

}
.teaser{

}
.introduction{
  
}
.clearfix{

}
.show-tabs-with-catalog-lists{

}
.tab-container{

}
.work-details-header{

}
.work-cover{

}
.top-list-link{

}
.design-container{

}
.design-zone{

}
.zone_one{

}
.book-suggestion-list{

}
.box{

}
.tips{

}




@media screen and (max-width: 600px) {
  div.men-top {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 400px) {

}

@media screen and (min-width: 800px) {

}